<div class="row">
    <div class="col col-sm-10">
        <h1> Teams </h1>
    </div>
    <div class=" col col-sm-2">
        <button class="btn btn-default addTeam" ng-click="addTeamForm()"> add team</button>
    </div>
</div>
<div class=" list-group ">
    <!-- <a class="list-group-item " ng-click="listClick(team) " ng-repeat="team in teams ">{{team.name}}&nbsp;
        <i class="pull-right" style="border : dotted; padding : 1px" ng-click="teamUpdate(team)"> Edit </i>
    </a> -->
<h3>
    <a class="list-group-item " ng-click="listClick(team) " ng-repeat="team in teams ">{{team.name}}&nbsp;
             <!-- <i class="glyphicon glyphicon-remove pull-right " style="margin-left: 20px"
        ng-click="removeTeam(team)"></i>&nbsp;  -->
            <button class="btn btn-default pull-right" ng-click="teamUpdate(team)"> Edit </button>
        </a>
</h3>
</div>

<!--<div>
    <md-list>
        <md-list-item class="md-2-line " ng-repeat="team in teams ">
            <md-checkbox ng-model="team.name "></md-checkbox>
            <div class="md-list-item-text ">
                <h3>{{team.name}}</h3>
                <i class="glyphicon glyphicon-remove pull-right " ng-click="removeTeam(team) "></i>
            </div>
        </md-list-item>
    </md-list>
</div>-->